@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  color: white;
  overflow: hidden;
}

.left {
  width: 20vw;
  padding: 10px;
  transition: all 0.5s;
}

.right {
  width: 80vw;
}

.home li {
  width: 20px;
  list-style: none;
  gap: 10px;
  padding-top: 15px;
  font-weight: 700;
}

.library {
  min-height: 80vh;
  position: relative;
}
.heading {
  width: 100%;
  gap: 10px;
  padding-top: 15px;
  font-weight: 700;
  align-items: center;
  font-size: 12px;
}

.heading img {
  width: 20px;
}

.footer {
  gap: 10px;
  position: absolute;
  bottom: 0px;
  padding: 10px;
}
.footer a {
  font-size: 12px;
  color: gray;
}

.right {
  margin: 15px 0px;
  position: relative;
}
.header {
  justify-content: space-between;
  background-color: rgb(35, 35, 35);
  /* border-radius: 1px; */
  height: 77px;
}

.header > * {
  padding: 20px;
}

.nav > svg {
  cursor: pointer;
}
.your-playlists {
  padding: 10px;
}

.your-playlists .card {
  width: 200px;
  border-radius: 5px;
  padding: 10px;
  background-color: #252525;
  position: relative;
  transition: all 0.3s;
}

.card-container {
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: grey black;
}

.card > * {
  padding-top: 10px;
}

.card > h2 {
  overflow-wrap: break-word;
}

.card > .img-container {
  padding: 0px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.play {
  background-color: #00ff00;
  border-radius: 50%;
  border: 2 px solid black;
  width: 28px;
  height: 28px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 168px;
  right: 15px;
  opacity: 0;
  transition: all 0.3s;
}

.card:hover {
  background-color: #151515;
  cursor: pointer;
}

.card:hover .play {
  opacity: 1;
  cursor: pointer;
}

.buttons > * {
  padding: 10px;
}

.sign-up-btn {
  background-color: rgba(35, 35, 35, 0);
  color: rgb(101, 101, 101);
  font-weight: bold;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  width: 75px;
}
.sign-up-btn:hover {
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.log-in-btn {
  background-color: white;
  color: black;
  font-size: 14px;
  width: 80px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.log-in-btn:hover {
  font-weight: bold;
}

.playbar {
  position: fixed;
  /* bottom: 30px; */
  bottom: 45px;
  background-color: rgb(43, 43, 43);
  min-height: 60px;
  /* width: 75vw; */
  width: 79vw;
  padding: 12px;
  border-radius: 10px;
  justify-self: center;
}

.song-buttons {
  justify-content: center;
  gap: 10px;
}

.song-list {
  height: 600px;
  overflow: auto;
  scrollbar-color: grey black;
}

.song-list ul {
  padding: 10px 10px;
  list-style: decimal;
}

.song-list ul li {
  display: flex;
  gap: 20px;
  cursor: pointer;
  padding: 10px 10px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 3px;
  position: relative;
}

.play-song {
  display: flex;
  position: absolute;
  right: 0px;
}

.info {
  width: 200px;
  word-wrap: normal;
}

.seekbar {
  width: 97%;
  height: 4px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
  margin: 8px;
  cursor: pointer;
  justify-self: center;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: gray;
  border-radius: 100%;
  position: relative;
  bottom: 7px;
  left: 0%;
  transition: left 0.5s;
  cursor: pointer;
}

.song-buttons > img {
  cursor: pointer;
}

.song-info {
  color: white;
  width: 200px;
}

.song-time {
  color: white;
  width: 100px;
}

.above-bar {
  justify-content: space-between;
}

#volume {
  cursor: pointer;
}

.volume img {
  cursor: pointer;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.left .close {
  display: none;
}

.time-and-vol {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.volume {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media screen and (max-height: 850px) {
  .song-list {
    height: 70vh;
  }
  .library {
    min-height: 60vh;
  }
  .card-container {
    padding-bottom: 20vh;
  }
}

@media screen and (max-height: 700px) {
  .song-list {
    height: 60vh;
  }
  .library {
    min-height: 60vh;
  }
}

@media screen and (max-width: 1600px) {
  .left {
    background-color: black;
    /* width: 30vw; */
    width: 400px;
    position: absolute;
    left: -100%;
    z-index: 1;
    padding: 5px;
  }
  
  .left .close {
    display: block;
    position: absolute;
    top: 25px;
    right: 27px;
    cursor: pointer;
  }
  .right {
    width: 100vw;
    margin: 0px;
  }
  .playbar {
    bottom: 15px;
    width: 98vw;
  }
  .hamburger {
    display: inline;
  }
  .song-list {
  height: 400px;
}
}

@media screen and (max-width: 450px) {
  .left {
    width: 100vw;
    height: 100vh;
  }
  .playbar {
    width: 95vw;
    bottom: -1px;
  }
  .above-bar {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .seekbar {
    width: 90%;
  }
  .song-info {
    text-align: center;
  }
  .time-and-vol {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
  }
  .card-container {
    justify-content: center;
  }
  .your-playlists .card {
    width: 90%;
  }
  .card-container {
    margin-bottom: 25vh;
    overflow-y: scroll;
    max-height: 59vh;
}
}