.flex {
    display: flex
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.border-red {
    border: 2px solid red;
    margin: 2px;
}

.bg-black {
    background-color: black;
    color: white;
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}
.invert {
    filter: invert(1);
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}